In [2]:
def h(key, num_slots):
    return len(key) % num_slots

In [5]:
print(h('alexander', 11))
print(h('john', 11)) 
print(h('eric', 11)) # Collision

9
4
4

In [6]:
def h(key, num_slots):
    total = sum(ord(c) for c in key)
    return total % num_slots

In [8]:
print(h('alexander', 11))
print(h('john', 11)) # Collision
print(h('eric', 11))

2
2
1

In [10]:
hex(hash('hola'))

'0x5e825273afa38053'

In [11]:
hash([1])

TypeError: unhashable type: 'list'

In [12]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

In [13]:
john = Person('John', 89)
eric = Person('Eric', 75)

In [14]:
john

In [17]:
hash(1.1)

230584300921369601

In [18]:
hash((1, 2, 3))

2528502973977326415

In [20]:
import sys
sys.hash_info.width

64

In [21]:
def fun():
    return 1

In [22]:
hash(fun)

8747275376901

In [24]:
{
    1: 'asdf',
    fun: 'hola',
    (1, 1): 'chau',
}

{1: 'asdf', <function __main__.fun()>: 'hola', (1, 1): 'chau'}

In [27]:
# Uses VALID IDENTIFIER NAMES
dict(john='hola', bro='chau')

{'john': 'hola', 'bro': 'chau'}

In [28]:
dict.fromkeys([1, 2, 3], 'nothing')

{1: 'nothing', 2: 'nothing', 3: 'nothing'}

In [29]:
a = {}
b = {}

print(id(a), id(b))

139957056154032 139956750561680

In [35]:
d = {'a':1, 'b':2}


d.pop(3, 'asdf'), d.pop('a')

('asdf', 1)

In [37]:
d

{'b': 2}

In [38]:
d = {'a':1, 'b':2}

In [39]:
d.popitem()

('b', 2)

In [40]:
d = {'a': 1, 'b': 2, 'c': 3}

In [42]:
d.setdefault('d', 0)
print(d)
d.setdefault('a', 0)
print(d)

{'a': 1, 'b': 2, 'c': 3, 'd': 0}
{'a': 1, 'b': 2, 'c': 3, 'd': 0}

In [45]:
# Views are dynamic!!!

for a in d.values():
    d['d'] = 1111111
    print(a)

1
2
3
1111111

In [46]:
(hola=3, cinco=5)

SyntaxError: invalid syntax (2277576702.py, line 1)

In [60]:
# !pip install pandas

In [53]:
import pandas as pd

df = pd.DataFrame({'a':[1,1,2,3], 'b':[1,2,3,4]})

df.groupby('a').agg(
    mean=('b', 'mean'),
    suma=('b', 'sum')
)

   mean  suma
a
1   1.5     3
2   3.0     3
3   4.0     4

In [59]:
d = {
    'mean':('b', 'mean'),
    'suma': ('b', 'sum'),
}

df.groupby('a').agg(**d)

   mean  suma
a
1   1.5     3
2   3.0     3
3   4.0     4